.cardBooks {
    width: 12rem;
    height: 300px;
    box-shadow: 5px 5px 20px #20202870;
    overflow: hidden;
    position: relative; /* Añadir posición relativa al contenedor */
}

.delete-btn {
    position: absolute;
    left: 9rem;
    margin: 0.5rem;
    z-index: 2;
    height: 2rem;
    width: 2rem;
    text-align: center;
    border-radius: 100%;
    border: none;
    background-color: #e74c3c;
    opacity: 75%;
    transition: opacity 0.5s;
}

.delete-btn:hover {
    opacity: 100%;
}
.card-img {
    height: 300px;
    width: 150px;
    transition: transform 0.5s; /* Mover la transición a esta regla */
}

.into {
    height: 80px;
    width: 100%; /* Cambiar el ancho a 100% */
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0; /* Cambiar la posición inferior a 0 */
    left: 0; /* Alinear a la izquierda */
    background-color: #2020208f;
    color: #fff;
    transition: 0.5s;
}
.into > h1 {
    font-size: 20px;
    margin: 10px;
}
.into > p {
    font-size: 15px;
    margin: 10px;
    opacity: 0;
    visibility: hidden;
}
.into > span {
    font-weight: bold;
}

.cardBooks:hover {
    cursor: pointer;
}
.cardBooks:hover .into {
    height: 140px;
    background-color: #202020e8;
}
.cardBooks:hover .into > p {
    opacity: 1;
    visibility: visible;
}
.cardBooks:hover > a .card-img {
    transform: scale(1.1) rotate(-3deg);
}

/* Media queries */
@media screen and (max-width: 600px) {
    .cardBooks {
        width: 100%; /* Cambiar el ancho al 100% en pantallas pequeñas */
    }
    .into {
        width: 100%; /* Cambiar el ancho al 100% en pantallas pequeñas */
    }
}
